body{
    background-color: #F0F0F0
}
.bg-white{
    background-color: white !important;    
}
.jarak-padding{
    padding: 2rem !important;
}
.padding-nav{
    padding-top: 5rem;
}
.ui.image{
    background-image: url("https://semantic-ui-vue.github.io/static/images/wireframes/image.png")
}